* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  width: 550px;
  margin: 50px auto;
}

@media (max-width: 1024px){
  .wrapper {
    width: 100%;
  }
}
